[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
cython = "*"

[packages]
#cartopy = "==0.17.0"
cmocean = "*"
#GEOS = "==3.7.3"
jupyter = "*"
matplotlib = "*"
netCDF4 = "*"
requests = "*"
pandas = "*"
pyproj = "*"
xarray = "*"
scipy = "*"

[requires]
python_version = "3.6"
